* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.addresses-wrapper {
    padding: 20px;

}

.addresses-wrapper1 {
    padding: 15px;
}

.address__icon {
    width: 70px;
}

.address__status {
    width: 32px;
}

.address,
.address1 {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    padding: 40px 20px;
    border-radius: 10px;
    font-style: normal;
    background-color: #40fb72;
}

.address__delete-btn {
    background-color: #FF8E50;
    color: white;
    text-decoration: none;
    font-size: 36px;
    padding: 10px 15px;
    line-height: 20px;
    font-weight: bold;
    border-radius: 0 10px 0 10px;
}

.address__delete-btn:hover {
    background-color: #FFD050;
}

.address,
.address1 {
    position: relative;
}

.address__delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.address__status {
    position: absolute;
    top: 110px;
    right: 10px;
}

.address__header {
    display: block;
    margin-bottom: 10px;
}

.address__icon {
    float: left;
    margin-right: 10px;
}

.addresses-wrapper,
.addresses-wrapper1 {
    display: flex;
    justify-content: space-between;
}

.address,
.address1 {
    width: 32%;
    margin: 1%;
}

.address:first-child {
    margin-left: 0;
    background-color: #4effd0;
}

.address:last-child {
    margin-right: 0;
    background-color: #b7e93b;
}

.address1:last-child {
    margin-right: 0;
    background-color: rgb(255, 93, 123);
}

.address1:first-child {
    margin-right: 0;
    background-color: #fca747;
}

.address1 {
    margin-right: 0;
    background-color: #cbf631;
}

.address:hover,
.address1:hover {
    background-color: #F3F3F3;
}

@media (max-width: 767px) {

    .addresses-wrapper,
    .addresses-wrapper1 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
